@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{margin:0;padding:0;}
.close{display:none;}
.maskwrap{width:100%;height:360px;overflow:hidden;
min-width:1460px;}
.mask{width:1920px;
position:relative;
margin:0 auto;
height:360px;
background:url(g5/image/pattern99.png) 0 0 repeat;
background-size:cover;
border-bottom:1px solid #ddd;
overflow:hidden;}
.pager{position:absolute;
padding:4px;
color:#ddd;
left:50%;
margin-left:-20px;
opacity:0.8;
font-size:20px;
bottom:0;}
.next{position:absolute;right:0;top:50%;margin-top:-26px;z-index:1;bottom:0;display:block;height:60px;opacity:0.6;}
.next img{height:53px;}
.prev{position:absolute;left:0;z-index:1;top:50%;display:block;height:60px;margin-top:-26px;opacity:0.6;}
.prev img{height:53px;}
.alt{position:absolute;
left:50%;
top:70%;
width:210px;
margin-left:-105px;
margin-top:-105px;
text-align:center;
color:#fff;
border-radius:10px;
font-size:22px;
background-color:#000;opacity:0.4;}
.alt span{color:#0060bf;font-weight:bold;}
.slide{float:left;
margin-top:20px;
width:6000px;
position:relative;}
.slide>li{float:left;}
.slide>li>a{width:240px;display:block;height:240px;border-radius:50%;overflow:hidden;margin-left:112px;
position:relative;
margin-top:50px;}
body{font-family:'Noto Sans KR','나눔고딕','돋움',sans-serif;
font-size:16px;
color:#414141;}
li{list-style:none;}
a{text-decoration:none;color:#414141;}
img{vertical-align:middle;border:none;}
a:hover{color:#06aef8;}
a:focus{color:#06aef8;}
.wrap{width:100%;
position:relative;
min-width:1460px;
margin:0 auto;}
.header{width:100%;
min-width:1458px;
margin:0 auto;
height:140px;}
.headerinner{position:relative;
border:1px solid transparent;
width:1458px;
height:140px;
margin:0 auto;}
.header h1{float:left;
margin-left:70px;
margin-top:40px;}
.login{position:absolute;
top:10px;
right:10px;}
.login a{height:20px;
line-height:20px;
text-align:center;
display:block;
float:left;
padding:5px;
border:1px solid #a0b6be;
background-color:#f4f4f4;
margin-left:3px;
color:#666666;}
.login a:hover{color:#06aef8;
font-weight:normal;}
.login a:focus{color:#06aef8;
font-weight:normal;}
.gnb1{display:none;}
.gnb{font-weight:bold;
text-align:center;
margin-left:355px;
width:1105px;
margin-top:80px;}
.gnb>li{width:20%;float:left;}
.gnb>li>a{display:block;
font-size:20px;
line-height:40px;
height:40px;}
.gnb>li>a:hover{border-bottom:3px solid #06aef8;}
.form{width:300px;position:relative;
display:block;
position:absolute;
top:10px;
right:240px;}
#search{width:300px;
font-size:16px;
display:block;
line-height:32px;
height:32px;}
.searchbtn{display:block;
position:absolute;
top:5px;
right:30px;
line-height:18px;
width:18px;}
.searchbtn img{width:100%;}
.topimg a{position:absolute;top:140px;
background:url(../image/topimg1.png) 50% 70% no-repeat;
background-size:100px;
text-align:center;
padding:10px;
z-index:1;
left:0;
font-size:20px;
display:block;
display:none;
width:335px;
height:200px;}
.topimg a:hover{color:#06aef8;}
.topimg a span{color:#414141;font-weight:normal;}
.topimg a img{width:100px;}
.gnb>li>ul{position:absolute;
z-index:1;
display:none;
line-height:40px;
top:140px;width:221px;
height:220px;}
.m1{left:355px;}
.m2{left:576px;}
.m3{left:797px;}
.m4{left:1018px;}
.m5{left:1239px;}
.gnb>li>ul>li>a{color:#414141;font-weight:normal;font-size:18px;}
.gnb>li>ul>li>a:hover{color:#06aef8;}
.gnb>li>ul>a{display:block;
position:relative;
font-weight:normal;
font-size:18px;
text-align:center;
color:#414141;
width:221px;}
.gnb>li>ul>a>img{width:24px;
position:absolute;
top:10px;
left:24px;}
.gnb>li>ul>a:hover{color:#06aef8;}
.gnb>li>ul>a>span{float:right;
font-weight:bold;
color:orange;}
.topbg{position:absolute;
display:none;
z-index:1;
width:100%;
height:220px;
top:141px;
background-color:rgba(255,255,255,0.9);}
.arrow{width:100%;
margin-top:1px;
text-align:center;}
.arrow a{display:block;
width:100%;
font-size:18px;
color:#cccccc;
height:60px;}
.arrow a img{opacity:0.6;position:relative;}
.content{width:100%;
float:left;}
.content a:hover{color:#0060bf;}
.content h2>a{color:#06aef8;
font-size:30px;}
.content h3>a{font-size:20px;}
#box1{width:392px;
height:360px;
float:left;
border:1px solid #ddd;}
.more{display:block;
width:186px;
margin-top:150px;
margin-left:20px;
color:#8b8080;
height:50px;
background-color:#f8f9f3;
border:1px solid #8b8080;
font-size:18px;
line-height:50px;
text-align:center;}
.h2{margin-top:40px;
display:block;
margin-left:20px;}
.h3{color:#414141;
display:block;
margin-left:20px;}
#box2{width:342px;
float:left;
position:relative;
height:362px;}
.text99{font-size:24px;
position:absolute;
top:44px;
left:40px;
text-align:center;
display:block;}
.list{display:none;}
.search1{display:none;}
.text99 span{color:orange;font-weight:bold;}
#box3{width:342px;
border:1px solid #ddd;
float:left;
height:360px;}
#box4{width:364px;height:362px;
position:relative;
float:left;}
#box4 .text99{top:140px;
left:80px;}
#box5{float:left;
width:394px;
overflow:hidden;
height:521px;
position:relative;}
#box5 .text99{left:40px;}
#box6{width:342px;
position:relative;
height:521px;
float:left;}
.boxinner{position:absolute;
top:0px;
right:20px;
text-align:right;}
.boxinner .more{position:absolute;
right:0;
top:20px;}
#box7{float:left;
position:relative;
width:344px;
height:521px;
overflow:hidden;}
#box7 .text99{left:10px;}
#box8{float:left;
width:364px;
position:relative;
height:521px;
overflow:hidden;}
.boxwrap{width:1445px;
overflow:hidden;
height:883px;
border:1px solid #ddd;
margin:20px auto;}
.box{position:relative;
opacity:0;
top:100px;}
#box1,#box2,#box3,#box4{opacity:1;top:0;}
.cbottom{width:1460px;
margin:20px auto;}
#box11{width:400px;height:190px;
border:1px solid #ddd;
float:left;}
#box11 a{display:block;
text-align:center;
line-height:190px;}
#box12{float:left;
position:relative;
padding:20px;
border:1px solid rgba(0,0,0,0.3);
width:643px;height:150px;}
.social{display:block;
position:absolute;
right:20px;
top:20px;}
.social img{width:48px;}
#box13{float:left;}
#box14{float:left;
border:1px solid rgba(0,0,0,0.3);
padding:20px;
margin-bottom:40px;
width:360px;height:295px;
position:relative;
}
#box14 ul>li>a{display:block;
line-height:50px;
border-bottom:1px dashed #ddd;}
#box14 ul{line-height:300%;}
#box14 ul>li>a>span{text-align:center;
margin-right:20px;
height:22px;
line-height:22px;
width:50px;
display:inline-block;
color:#fff;
border-radius:15px;
background-color:#61a7cb;}
.plus{position:absolute;
top:0;
right:20px;
font-size:40px;}
#box15{width:685px;height:337px;float:left;margin-bottom:40px;}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 337px; }
#box16{width:330px;height:295px;
margin-bottom:40px;
padding:20px;
position:relative;
float:left;
border:1px solid rgba(0,0,0,0.3);}
#box16 .facebook{display:block;
position:absolute;
top:20px;
right:20px;
}
#box16 .facebook img{width:48px;}
#box16 h3{margin:30px 0;}
.move{position:relative;
top:100px;opacity:0;}
.gallery{margin:0 auto;
margin-top:600px;
margin-bottom:20px;
width:1460px;
height:335px;
position:relative;
}
.gallery h2 a{display:inline-block;font-size:1.5em;color:#06aef8;
margin-left:17px;}
.gallery ul{width:930px;float:left;margin-top:40px;}
.gallery ul>li{float:left;}
.gallery ul>li>a{display:block;width:156px;height:90px;margin-left:17px;
overflow:hidden;
border:5px solid #fff;
box-shadow:1px 3px 5px #ddd;
position:relative;
margin-top:17px;}
.gallery ul>li>a>img{width:100%;position:relative;}
.over{position:absolute;
display:none;
top:30%;left:30%;}
.over>a{display:block;color:#fff;font-size:1.3em;}
.over>a:hover{color:#fff;}
.gallery ul>li>a.on{background-color:#000;}
.gallery ul>li>a>img{width:100%;}
.bigimg{float:left;width:500px;display:block;border:10px solid #fff;height:300px;overflow:hidden;
position:absolute;right:10px;
top:10px;
box-shadow:1px 3px 5px;}
.bigimg img{width:100%;}
.footer{width:100%;
border-top:1px solid #ddd;
line-height:200%;
margin-bottom:10px;
float:left;}
.footerinner{width:1460px;
text-align:center;
position:relative;
margin:0 auto;}
.footerinner h6{position:absolute;
top:50px;
left:60px;
text-align:center;}
.footertext{width:1000px;float:left;
margin-left:140px;
margin-top:30px;}
.footertext a{display:inline-block;
margin:0 20px;}
.footerinner p{width:1000px;
text-align:center;
margin-left:160px;
float:left;}
.footericon{position:absolute;
top:40px;
right:10px;}
.topbtn{display:block;bottom:1%;right:1%;display:none;z-index:1;
position:fixed;width:50px;text-align:center;line-height:50px;
padding:5px;
height:50px;background-color:#000;
color:#fff;opacity:0.8;
font-weight:bold;
font-size:1.5em;}

#main_popupbox{position:absolute;top:0;left:0;width:100%;height:100%;
background-color:rgba(0,0,0,0.4);z-index:4;}
#popp27 { position: absolute; width:35%; position: absolute; top:15%; left:50%; margin-left:-17.5%; background:#fff;border-radius:5px;overflow:hidden;box-shadow:1px 3px 5px;}
#popp27 .cont {width:100%; float:left;}
.cont h2{float:left;width:98%;padding:2% 0 2% 2%;background-color:#2471c8;color:#fff;
font-weight:400;letter-spacing:-1px;}
.cont p{width:92%;float:left;padding:4%;}
.main_poptable{width:92%;margin-left:4%;float:left;border:1px solid #ddd;overflow:hidden;}
.main_poptableleft{width:50%;float:left;overflow:hidden;}
.main_poptableleft h3{float:left;width:100%;text-align:center;background-color:#f3f3f3;font-weight:400;border-bottom:1px solid #ddd;}
.main_poptableleft p{letter-spacing:-1px;font-size:1em;}
.main_poptableright{float:left;width:50%;overflow:hidden;position:relative;}
.main_poptableright h3{float:left;width:100%;text-align:center;background-color:#f3f3f3;font-weight:400;border-bottom:1px solid #ddd;}
.main_poptableright p{letter-spacing:-1px;font-size:1em;background-color:#d9eeec;}
.main_poptableright p>span{color:red;}
.main_poptablerightstroke{display:block;height:100%;border-left:1px solid #ddd;position:absolute;left:0;}
.main_poptext{width:100%;float:left;border-bottom:1px solid #ddd;}

#popp27 .close {width:92%; float:left;padding:4%;position:relative;text-align:center;display:block;}
#popp27 .close #check{float:left;width:100%;text-align:left;}
#popp27 .close #close {float:left;cursor:pointer;width:30%;height:40px;text-align:center;line-height:40px;
color:#fff;background-color:#2471c8;border-radius:30px;margin-left:35%;
margin-top:20px;font-size:1.2em;}


@media screen and (max-width:640px){


*{margin:0;padding:0;box-sizing:border-box;}
body{font-size:14px;}
a{font-size:1em;}
.topbtn{display:none;}
.wrap{width:100%;min-width:360px;}
.header{width:100%;
border-bottom:1px solid #06aef8;
min-width:300px;
height:50px;}
.header h1{margin:0;
padding:0;
width:100%;
position:absolute;
text-align:center;}
.header h1>a{width:100px;display:inline-block;}
.header h1>a>img{max-width:100%;}
.maskwrap{display:none;}
.arrow{display:none;}
.headerinner{position:relative;
width:100%;
height:47px;}
.stroke{display:none;}
.gnbwrap{position:relative;position:absolute;width:100%;margin:0;padding:0;
background-color:#002c57;z-index:1;opacity:0.9;
left:-200%;}
.gnbwrap a{color:#fff;}
.close{position:absolute;right:0;display:block;font-size:2em;border-bottom:3px solid red;padding:3%;
border-radius:25%;}
.close>span{font-weight:bold;}
.close:hover{color:red;}
.gnb{display:none;}
.gnb1{display:block;width:100%;
line-height:240%;
font-size:1.2em;
text-align:center;
margin-top:20%;}
.gnb1>li>a{width:100%;display:block;
position:relative;
border-bottom:1px solid #fff;
margin-bottom:1%;}
.gnb1>li>a img{height:24px;position:absolute;left:10%;top:50%;margin-top:-12px;}
.gnb1>li>a span{font-weight:bold;position:absolute;right:10%;font-size:1.5em;}
.gnb1>li>ul{display:none;margin:40px 0;}
.gnb1>li>ul>li>a{display:block;}
.gnb1 a:hover{color:orange;font-weight:bold;}
.form{width:30%;position:relative;
position:absolute;
display:none;
top:9px;
right:0px;}
#search{width:100%;
letter-spacing:-2px;
font-size:0.9em;
font-weight:bold;
border:none;
border-bottom:1px solid #8fbef8;
display:block;
height:32px;}
.searchbtn{display:block;
position:absolute;
top:0;
right:15%;
line-height:32px;
width:18px;}
.searchbtn img{width:100%;}
.login{display:none;}
.list{display:block;
position:absolute;
left:5px;
top:10px;
z-index:1;}
.list img{width:30px;}
.search1{display:block;
position:absolute;
right:5px;
top:10px;
}
.search1 img{width:30px;}
.box{opacity:1;
float:left;
top:0;}
.boxwrap{opacity:1;
height:auto;
float:left;
margin:0;
padding:0;
width:100%;overflow:hidden;
border:none;}
#box2,#box4,#box5,#box7{display:none;}
#box1,#box3,#box6,#box8{width:50%;
margin:0;padding:0;
border:none;
float:left;}
#box1,#box3{height:150px;border:1px solid #ddd;
overflow:hidden;width:50%;
margin:0;padding:0;}
.box .more{padding:0;font-size: 1em;
color:#fff;}
.box h2>a{color:#06aef8;
margin:0;padding:0;
margin-left:10%;
font-size:0.9em;}
.box h3>a{font-size:0.9em;
margin-left: 10%;
letter-spacing:-2px;
width: 70%;}
#box6,#box8{height:150px;overflow:hidden;
width:50%;
margin:0;padding:0;}
#box1 .more,#box3 .more{margin:0;padding:0;
width:50%;
margin-left:10%;
letter-spacing:-2px;
background-color:#3683b5;
line-height:30px;
height:30px;
margin-top:10%;}
#box1 .h2{font-size:0.9em;
letter-spacing:-2px;
width:90%;
margin:0;padding:0;
margin-left:10%;}
#box1 .more{padding:0;font-size: 1em;
color:#fff;}
#box1 h2>a{color:#06aef8;
margin:0;padding:0;
margin-left:10%;
font-size:0.9em;}
#box1 h3>a{font-size:0.9em;
margin-left: 10%;
letter-spacing: -2px;
width: 70%;}
#box1 .more:hover{color:orange;}
#box1 h2 a:hover{color:#414141;}
#box3 h2 a{color:#b789ff;}
#box3 h2 a:hover{color:#414141;}
#box6 h2 a{color:#d1a922;}
#box6 h2 a:hover{color:#414141;}
#box8 h2 a{color:#9bce30;}
#box8 h2 a:hover{color:#414141;}
#box6 .more,#box8 .more{margin:0;padding:0;
width:50%;
line-height:30px;
background-color:#3683b5;
height:30px;
margin-left:10%;}
.box .more{font-size:1em;color:#fff;}
.box .more:hover{color:orange;}
.move{opacity:1;top:0;}
.cbottom{margin:0;padding:0;
border-top:3px solid #06aef8;
border-bottom:3px solid #06aef8;
float:left;
width:100%;}
.cbottom h2 {font-size:1.3em;}
#box11{width:100%;text-align:center;float:left;height:100px;}
#box11 a{line-height:100px;}
#box11 a img{max-width:200px;}
#box12{width:100%;float:left;
height:140px;
padding:4%;
margin:0;}
.boxinner .h2{padding:0;margin:0;}
.boxinner .h3{padding:0;margin:0;}
#box12 a{margin-left:5px;display:block;}
#box13{display:none;}
#box14{width:100%;float:left;padding:0;
margin:0;
height:240px;
padding:4%;}
#box14 ul>li>a{height:40px;
width:100%;}
.plus{font-size:2em;}
#box15{display:none;}
#box16{width:100%;float:left;padding:0;
margin:0;
height:140px;
padding:4%;}
#box16 h3 {margin:0;}
#box16 h3 a{font-size:0.9em;}
.cbottom h2>a{
font-size:1.0em;color:#414141;}
.social{right:2%;
top:2%;}
.social img{width:38px;}
#box16 .facebook{opacity:1;right:2%;
top:2%;}
#box16 .facebook img{width:38px;}
.boxinner .more{position:absolute;
left:0;
margin:0;padding:0;
top:90px;}
.boxinner{position:absolute;
width:100%;
text-align:left;
margin:0;padding:0;
padding-left:10%;
top:0;
letter-spacing:-2px;
left:0;}
.gallery{display:none;}
.footer{line-height:150%;width:100%;}
.footerinner{width:100%;float:left;}
.footericon{display:none;}
.footerinner h6{left:50%;top:85%;margin:0;padding:0;margin-left:-55px;}
.footertext{width:100%;float:left;margin:0;padding:0;margin-top:1.5%;}
.footertext .grid50{width:48%;margin:0;margin-left:1.5%;margin-top:1.5%;}
.footertext a{width:31.5%;margin:0;padding:0;float:left;height:40px;overflow:hidden;
padding-top:0px;
font-size:0.9em;
line-height:40px;background-color:#414141;
letter-spacing:-2px;
margin-left:1.5%;
text-align:center;
color:#fff;
}
.footertext a:hover{color:#06aef8;}
.footerinner p{width:95%;float:left;
margin:0;padding:0;
margin-top:3%;
margin-bottom:12%;
margin-left:2.5%;}
.footerinner p span{display:none;}
.topbtn{display:block;bottom:2%;right:2%;z-index:1;
position:fixed;width:50px;text-align:center;line-height:50px;
height:50px;background-color:#000;
padding:0;margin:0;
display:none;
color:orange;opacity:0.8;
font-weight:bold;
font-size:1.2em;}

#main_popupbox{position:absolute;top:0;left:0;width:100%;height:100%;
background-color:rgba(0,0,0,0.4);z-index:4;}
#popp27 { position: absolute; width:80%; position: absolute; top:10%; left:50%; margin-left:-40%; background:#fff;}
#popp27 .cont {width:100%; float:left;}
.cont>h2{float:left;width:100%;padding:0;padding:4%;
background-color:#2471c8;color:#fff;font-size:1.2em;
font-weight:400;letter-spacing:-1px;}
.cont p{width:100%;float:left;padding:2%;line-height:120%;letter-spacing:-1px;}
.main_poptable{width:98%;margin-left:1%;float:left;border:1px solid #ddd;overflow:hidden;margin-top:10px;}
.main_poptableleft{width:50%;float:left;overflow:hidden;}
.main_poptableleft h3{float:left;width:100%;text-align:center;background-color:#f3f3f3;font-weight:400;border-bottom:1px solid #ddd;font-size:1.05em;letter-spacing:-1px;}
.main_poptableleft p{letter-spacing:-1px;font-size:0.9em;line-height:130%;}
.main_poptableright{float:left;width:50%;overflow:hidden;position:relative;}
.main_poptableright h3{float:left;width:100%;text-align:center;background-color:#f3f3f3;font-weight:400;border-bottom:1px solid #ddd;font-size:1.05em;letter-spacing:-1px;}
.main_poptableright p{letter-spacing:-1px;font-size:0.9em;background-color:#d9eeec;line-height:130%;}
.main_poptableright p>span{color:red;}
.main_poptablerightstroke{display:block;height:100%;border-left:1px solid #ddd;position:absolute;left:0;}
.main_poptext{width:100%;float:left;border-bottom:1px solid #ddd;font-size:0.9em;margin-top:10px;}

#popp27 .close {width:100%; border:none;float:left;padding:4%;position:relative;text-align:center;display:block;}
#popp27 .close #check{float:left;width:100%;text-align:left;}
#check label{font-size:0.5em;}
#popp27 .close #close {float:left;cursor:pointer;width:30%;height:40px;text-align:center;line-height:40px;
color:#fff;background-color:#2471c8;border-radius:30px;margin-left:35%;
margin-top:20px;font-size:0.6em;}


}