/* 본고딕 웹폰트 가져오기 180124 morenvy.com */ 
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */ 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 100; 
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
      url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
      url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
      url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
      url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 700; 
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 900; 
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
 }
*{margin:0;padding:0;box-sizing:border-box;}
.close{display:none;}
.maskwrap{width:100%;height:360px;overflow:hidden;
min-width:1460px;}
.mask{width:1920px;
position:relative;
margin:0 auto;
height:360px;
background:url(g5/image/pattern99.png) 0 0 repeat;
background-size:cover;
border-bottom:1px solid #ddd;
overflow:hidden;}
.pager{position:absolute;
padding:4px;
color:#ddd;
left:50%;
margin-left:-20px;
opacity:0.8;
font-size:20px;
bottom:0;}
.next{position:absolute;right:0;top:50%;margin-top:-26px;z-index:1;bottom:0;display:block;height:60px;opacity:0.6;}
.next img{height:53px;}
.prev{position:absolute;left:0;z-index:1;top:50%;display:block;height:60px;margin-top:-26px;opacity:0.6;}
.prev img{height:53px;}
.alt{position:absolute;
left:50%;
top:70%;
width:210px;
margin-left:-105px;
margin-top:-105px;
text-align:center;
color:#fff;
border-radius:10px;
font-size:22px;
background-color:#000;opacity:0.4;}
.alt span{color:#0060bf;font-weight:bold;}
.slide{float:left;
margin-top:20px;
width:6000px;
position:relative;}
.slide>li{float:left;}
.slide>li>a{width:240px;display:block;height:240px;border-radius:50%;overflow:hidden;margin-left:112px;
position:relative;
box-shadow:1px 3px 5px;
margin-top:50px;}
body{font-family:'Noto Sans KR','arial','나눔고딕','돋움',sans-serif;
font-size:16px;
color:#414141;}
li{list-style:none;}
a{text-decoration:none;color:#414141;}
img{vertical-align:middle;border:none;}
a:hover{color:#06aef8;}
a:focus{color:#06aef8;}
.wrap{width:100%;
position:relative;
min-width:1460px;
margin:0 auto;}
.header{width:100%;
border-bottom:1px solid #ddd;
height:140px;}
.headerinner{position:relative;
border:1px solid transparent;
width:1458px;
height:140px;
margin:0 auto;}
.header h1{float:left;
margin-left:70px;
margin-top:40px;}
.login{position:absolute;
top:10px;
right:10px;}
.login a{height:32px;
line-height:32px;
text-align:center;
display:block;
float:left;
padding:0 5px;
border:1px solid #a0b6be;
background-color:#f4f4f4;
margin-left:3px;
color:#666666;}
.login a:hover{color:#06aef8;
font-weight:normal;}
.login a:focus{color:#06aef8;
font-weight:normal;}
.gnb1{display:none;}
.gnb{font-weight:bold;
text-align:center;
margin-left:355px;
width:1105px;
margin-top:80px;}
.gnb>li{width:20%;float:left;}
.gnb>li>a{display:block;
font-size:20px;
line-height:40px;
height:40px;}
.gnb>li>a:hover{border-bottom:3px solid #06aef8;}
.form{width:300px;position:relative;
display:block;
position:absolute;
top:10px;
right:240px;}
#search{width:300px;
font-size:16px;
display:block;
line-height:32px;
height:32px;}
.searchbtn{display:block;
position:absolute;
top:5px;
right:30px;
line-height:18px;
width:18px;}
.searchbtn img{width:100%;}
.topimg a{position:absolute;top:140px;
background:url(../image/topimg1.png) 50% 75% no-repeat;
background-size:100px;
text-align:center;
padding:10px;
z-index:1;
left:0;
font-size:20px;
display:block;
display:none;
width:335px;
height:220px;}
.topimg a:hover{color:#06aef8;}
.topimg a span{color:#414141;font-weight:normal;}
.topimg a img{width:100px;}
.gnb>li>ul{position:absolute;
z-index:1;
display:none;
line-height:40px;
top:140px;width:221px;
height:220px;}
.m1{left:355px;}
.m2{left:576px;}
.m3{left:797px;}
.m4{left:1018px;}
.m5{left:1239px;}
.gnb>li>ul>li>a{color:#414141;font-weight:normal;font-size:18px;}
.gnb>li>ul>li>a:hover{color:#06aef8;}
.gnb>li>ul>a{display:block;
position:relative;
font-weight:normal;
font-size:18px;
text-align:center;
color:#414141;
width:221px;}
.gnb>li>ul>a>img{width:24px;
position:absolute;
top:10px;
left:24px;}
.gnb>li>ul>a:hover{color:#06aef8;}
.gnb>li>ul>a>span{float:right;
font-weight:bold;
color:orange;}
.topbg{position:absolute;
display:none;
z-index:1;
width:100%;
height:220px;
top:141px;
background-color:rgba(255,255,255,0.9);}
.arrow{width:100%;
margin-top:1px;
text-align:center;}
.arrow a{display:block;
width:100%;
font-size:18px;
color:#cccccc;
height:60px;}
.arrow a img{opacity:0.6;position:relative;}
.content{width:100%;
float:left;}
.content a:hover{color:#0060bf;}
.content h2>a{color:#06aef8;
font-size:30px;}
.content h3>a{font-size:20px;}
#box1{width:392px;
height:360px;
float:left;
border:1px solid #ddd;}
.more{display:block;
width:186px;
margin-top:150px;
margin-left:20px;
color:#8b8080;
height:50px;
background-color:#f8f9f3;
border:1px solid #8b8080;
font-size:18px;
line-height:50px;
text-align:center;}
.h2{margin-top:40px;
display:block;
margin-left:20px;}
.h3{color:#414141;
display:block;
margin-left:20px;}
#box2{width:342px;
float:left;
position:relative;
height:362px;}
.text99{font-size:24px;
position:absolute;
top:44px;
left:40px;
text-align:center;
display:block;}
.list{display:none;}
.search1{display:none;}
.text99 span{color:orange;font-weight:bold;}
#box3{width:342px;
border:1px solid #ddd;
float:left;
height:360px;}
#box4{width:364px;height:362px;
position:relative;
float:left;}
#box4 .text99{top:140px;
left:80px;}
#box5{float:left;
width:394px;
overflow:hidden;
height:521px;
position:relative;}
#box5 .text99{left:40px;}
#box6{width:342px;
position:relative;
height:521px;
float:left;}
.boxinner{position:absolute;
top:0px;
right:20px;
text-align:right;}
.boxinner .more{position:absolute;
right:0;
top:20px;}
#box7{float:left;
position:relative;
width:344px;
height:521px;
overflow:hidden;}
#box7 .text99{left:10px;}
#box8{float:left;
width:364px;
position:relative;
height:521px;
overflow:hidden;}
.boxwrap{width:1445px;
overflow:hidden;
opacity:0;
height:883px;
border:1px solid #38cae3;
margin:20px auto;}
.box{position:relative;
opacity:0;
top:100px;}
.cbottom{width:1460px;
margin:20px auto;}
#box11{width:400px;height:190px;
border:1px solid #ddd;
float:left;}
#box11 a{display:block;
text-align:center;
line-height:190px;}
#box12{float:left;
position:relative;
padding:20px;
border:1px solid rgba(0,0,0,0.3);
width:643px;height:150px;}
.social{display:block;
position:absolute;
right:20px;
top:20px;}
.social img{width:60px;}
#box13{float:left;}
#box14{float:left;
border:1px solid rgba(0,0,0,0.3);
padding:20px;
margin-bottom:40px;
width:360px;height:295px;
position:relative;
}
#box14 ul>li>a{display:block;
line-height:50px;
border-bottom:1px dashed #ddd;}
#box14 ul{line-height:300%;}
#box14 ul>li>a>span{text-align:center;
margin-right:20px;
height:22px;
line-height:22px;
width:50px;
display:inline-block;
color:#fff;
border-radius:15px;
background-color:#61a7cb;}
.plus{position:absolute;
top:0;
right:20px;
font-size:40px;}
#box15{width:685px;height:337px;float:left;margin-bottom:40px;}
#box15 a{display:block;}
#box16{width:330px;height:295px;
margin-bottom:40px;
padding:20px;
position:relative;
float:left;
border:1px solid rgba(0,0,0,0.3);}
#box16 .facebook{display:block;
position:absolute;
top:20px;
right:20px;
}
#box16 .facebook img{width:60px;}
#box16 h3{margin:30px 0;}
.move{position:relative;
top:100px;opacity:0;}
.gallery{margin:0 auto;
margin-top:600px;
margin-bottom:20px;
width:1460px;
height:335px;
position:relative;
}
.gallery h2 a{display:inline-block;font-size:1.5em;color:#06aef8;
margin-left:17px;}
.gallery ul{width:930px;float:left;margin-top:40px;}
.gallery ul>li{float:left;}
.gallery ul>li>a{display:block;width:156px;height:90px;margin-left:17px;
overflow:hidden;
border:5px solid #fff;
box-shadow:1px 3px 5px #ddd;
position:relative;
margin-top:17px;overflow:hidden;}
.over{position:absolute;
display:none;
top:30%;left:30%;}
.over>a{display:block;color:red;font-size:1.3em;}
.over>a:hover{color:red;}
.gallery ul>li>a.on{background-color:#000;}
.gallery ul>li>a>img{width:100%;}
.bigimg{float:left;width:500px;display:block;border:10px solid #fff;height:300px;overflow:hidden;
position:absolute;right:10px;
top:10px;
box-shadow:1px 3px 5px;}
.bigimg img{width:100%;}
.footer{width:100%;
border-top:1px solid #ddd;
line-height:200%;
margin-bottom:10px;
float:left;}
.footerinner{width:1460px;
text-align:center;
position:relative;
margin:0 auto;}
.footerinner h6{position:absolute;
top:50px;
left:60px;
text-align:center;}
.footertext{width:1000px;float:left;
margin-left:140px;
margin-top:30px;}
.footertext a{display:inline-block;
margin:0 20px;}
.footerinner p{width:1000px;
text-align:center;
margin-left:160px;
float:left;}
.footericon{position:absolute;
top:40px;
right:10px;}
.topbtn {
    display: none;
    bottom: 1%;
    right: 1%;
    z-index: 1;
    position: fixed;
    width: 60px;
    text-align:center;
	line-height:60px;
    height: 60px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1.5em;
}
/*main end fullscreen*/


/*sub3 start fullscreen*/
*{margin:0;padding:0;box-sizing:border-box;}
  img{max-width:100%;}
  li{list-style:none;}
  a{text-decoration:none;color:#414141;}
  .sub1_content{width:100%;overflow:hidden;background-color:#f5f6fa;float:left;}
  .sub1_contentinner{width:70%;margin-left:15%;text-align:center;float:left;}
  .sub1_top h2{margin-top:40px;font-size:30px;font-weight:normal;}
  .sub1visual{height:300px;display:block;overflow:hidden;}
  .sub1_top img{margin-top:30px;border:none;}
  .sub1_top p{background-color:#FFF;border:1px solid #ddd;
  float:left;
  font-size:1.2em;
  padding:20px;
  text-align:left;
  line-height:150%;
  width:100%;}
  .bigtext{width:100%;text-align:center;
  border-bottom:1px solid #ddd;
  padding:20px 0;}
   .bigtext h2{font-size:50px;font-weight:normal;height:60px;
   color:#1479a5;
   line-height:60px;}
.bigtext h2 img {width:60px;vertical-align:top;}
.sub1_bottom{width:100%;float:left;overflow:hidden;
margin:20px 0;}
.sub1_bottom>ul{float:left;width:100%;}
.sub1_bottom>ul>li{float:left;width:33.33%;}
.sub1_bottom>ul>li>a{display:block;height:50px;line-height:50px;
background-color:#FFF;
border:1px solid #ddd;
border-left:none;}
.sub1_bottom>ul>li>a.on1{background-color:#156a8f;
color:#fff;}
#leftnone{border-left:1px solid #ddd;}

.tab{float:left;overflow:hidden;
margin-top:20px;
width:100%;}
.tab>ul{float:left;}
.tab>ul>li{float:left;width:100%;}
.tab>ul>li>a{display:block;margin-top:40px;height:238px;border-bottom:1px solid #ddd;}
.tabimg img{border:1px solid #ddd;
width:326px;}
.tabimg{width:33.33%;float:left;height:147px;overflow:hidden;}
.tabtext{width:66.66%;float:left;text-align:left;padding-left:4%;}
.tabtext h2{display:inline-block;
color:#156a8f;
padding:4px;
border-top:3px solid #156a8f;
background-color:#f5f6fa;}
.tabtext h3{margin-top:20px;}
.tabtext p{margin-top:40px;line-height:150%;}
#tab2{display:none;}
#tab3{display:none;}
.sub1_list_title{float:left;margin:1% 2%;color:#156a8f;border-top:3px solid #156a8f;}
.sub1_list{width:100%;float:left;text-align:left;}
.sub1_list>li{float:left;width:24.25%;margin-right:1%;margin-top:1%;}
.sub1_list .listbd{margin-right:0;}
.sub1_list>li>a{display:block;overflow:hidden;width:100%;}
.sub1_list>li>a>img{width:100%;vertical-align:bottom;}
.bdwidth{background-color:#FFF;
height:120px;
width:100%;
letter-spacing:-1px;border:1px solid #156a8f;
border-top:none;
float:left;}
.bdwidth h3{margin-top:3%;display:block;margin-left:3%;}
.bdwidth p{margin-top:3%;font-size:0.9em;display:block;margin-left:3%;}
/*sub3 end fullscreen*/


/*sub1 start fullscreen*/
  .sub2_content{width:100%;float:left;
  background-color:#f6f7fb;
  border-bottom:1px solid #ddd;
  text-align:center;}
  .sub2_mainimg{float:left;width:100%;text-align:center;position:relative;
  box-shadow:1px 2px 3px #414141;}
  .sub2_mainimg img{width:100%;}
  .sub2_mainimgtext{position:absolute;font-size:2.6em;color:#626262;top:40%;width:100%;text-align:center;font-weight:bold;font-weight:500;}
  .sub2_contentinner{width:70%;margin-left:15%;float:left}
 .sub2_contentinner>h2{margin-top:5%;color:#1479a5;}
 .sub2_contentinner>p{margin-top:3%;text-align:left;width:80%;
 padding-left:5%;
 margin-left:10%;float:left;}
 .sub2_icon{float:left;margin-top:5%;width:80%;margin-left:10%;margin-bottom:5%;}
.sub2_icon>li{float:left;width:33.33%;}
.sub2_icon>li>a{display:block;line-height:150%;font-size:1.2em;
font-weight:600;}
.sub2_icon>li>a>span{font-size:1rem;display:block;font-weight:500;}
.record{width:100%;background-color:#FFF;text-align:center;float:left;}
.record>h2{margin-top:5%;}
.record ul{float:left;width:70%;margin-left:15%;margin-top:5%;}
.record ul>li{float:left;width:33.33%;}
.record ul>li>a{display:block;margin-bottom:15%;font-size:0.9em;}
.record .recordbdr{border-right:none;}
/*sub1 end fullscreen*/


@media screen and (max-width:640px){


/*main start 640*/
*{margin:0;padding:0;box-sizing:border-box;}
body{font-size:14px;}
a{font-size:1em;}
.topbtn{display:none;}
.wrap{width:100%;min-width:360px;}
.header{width:100%;
border-bottom:1px solid #06aef8;
height:50px;}
.header h1{margin:0;
padding:0;
width:100%;
top:4%;
position:absolute;
text-align:center;}
.header h1>a{width:100px;display:inline-block;}
.header h1>a>img{max-width:100%;}
.maskwrap{display:none;}
.arrow{display:none;}
.headerinner{position:relative;
width:100%;
height:47px;}
.stroke{display:none;}
.gnbwrap{position:relative;position:absolute;width:100%;margin:0;padding:0;
background-color:#002c57;z-index:1;opacity:0.9;
left:-200%;}
.gnbwrap a{color:#fff;}
.close{position:absolute;right:0;display:block;font-size:2em;border-bottom:3px solid red;padding:3%;
border-radius:25%;}
.close>span{font-weight:bold;}
.close:hover{color:red;}
.gnb{display:none;}
.gnb1{display:block;width:100%;
line-height:240%;
font-size:1.2em;
text-align:center;
margin-top:20%;}
.gnb1>li>a{width:100%;display:block;
position:relative;
border-bottom:1px solid #fff;
margin-bottom:1%;}
.gnb1>li>a img{height:24px;position:absolute;left:10%;top:50%;margin-top:-12px;}
.gnb1>li>a span{font-weight:bold;position:absolute;right:10%;font-size:1.5em;}
.gnb1>li>ul{display:none;margin:40px 0;}
.gnb1>li>ul>li>a{display:block;}
.gnb1 a:hover{color:orange;font-weight:bold;}
.form{width:30%;position:relative;
position:absolute;
display:none;
top:9px;
right:0px;}
#search{width:100%;
letter-spacing:-2px;
font-size:0.9em;
font-weight:bold;
border:none;
border-bottom:1px solid #8fbef8;
display:block;
height:32px;}
.searchbtn{display:block;
position:absolute;
top:0;
right:15%;
line-height:32px;
width:18px;}
.searchbtn img{width:100%;}
.login{display:none;}
.list{display:block;
position:absolute;
left:5px;
top:10px;
z-index:1;}
.list img{width:30px;}
.search1{display:block;
position:absolute;
right:5px;
top:10px;
}
.search1 img{width:30px;}
.box{opacity:1;
float:left;
top:0;}
.boxwrap{opacity:1;
height:auto;
float:left;
margin:0;
padding:0;
width:100%;overflow:hidden;
border:none;}
#box2,#box4,#box5,#box7{display:none;}
#box1,#box3,#box6,#box8{width:50%;
margin:0;padding:0;
border:none;
float:left;}
#box1,#box3{height:150px;border:1px solid #ddd;
overflow:hidden;width:50%;
margin:0;padding:0;}
#box6,#box8{height:150px;overflow:hidden;
width:50%;
margin:0;padding:0;}
#box1 .more,#box3 .more{margin:0;padding:0;
width:50%;
margin-left:10%;
letter-spacing:-2px;
background-color:#3683b5;
line-height:30px;
height:30px;
margin-top:10%;}
#box1 .h2{font-size:0.9em;
letter-spacing:-2px;
width:90%;
margin:0;padding:0;
margin-left:10%;}
#box1 .more{padding:0;font-size: 1em;
color:#fff;}
#box1 h2>a{color:#06aef8;
margin:0;padding:0;
margin-left:10%;
font-size:0.9em;}
#box1 h3>a{font-size:0.9em;
margin-left: 10%;
letter-spacing: -2px;
width: 70%;}
#box1 .more:hover{color:orange;}
#box1 h2 a:hover{color:#414141;}
#box3 h2 a{color:#b789ff;}
#box3 h2 a:hover{color:#414141;}
#box6 h2 a{color:#d1a922;}
#box6 h2 a:hover{color:#414141;}
#box8 h2 a{color:#9bce30;}
#box8 h2 a:hover{color:#414141;}
#box6 .more,#box8 .more{margin:0;padding:0;
width:50%;
line-height:30px;
background-color:#3683b5;
height:30px;
margin-left:10%;}
.box .more{font-size:1em;color:#fff;}
.box .more:hover{color:orange;}
.move{opacity:1;top:0;}
.cbottom{margin:0;padding:0;
border-top:3px solid #06aef8;
border-bottom:3px solid #06aef8;
float:left;
width:100%;}
.cbottom h2 {font-size:1.3em;}
#box11{width:100%;text-align:center;float:left;height:100px;}
#box11 a{line-height:100px;}
#box11 a img{max-width:200px;}
#box12{width:100%;float:left;
height:140px;
padding:4%;
margin:0;}
.boxinner .h2{padding:0;margin:0;}
.boxinner .h3{padding:0;margin:0;}
#box12 a{margin-left:5px;display:block;}
#box13{display:none;}
#box14{width:100%;float:left;padding:0;
margin:0;
height:240px;
padding:4%;}
#box14 ul>li>a{height:40px;
width:100%;}
.plus{font-size:2em;}
#box15{display:none;}
#box16{width:100%;float:left;padding:0;
margin:0;
height:140px;
padding:4%;}
#box16 h3 {margin:0;}
#box16 h3 a{font-size:0.9em;}
.cbottom h2>a{
font-size:1.0em;color:#414141;}
.social{right:2%;
top:2%;}
.social img{width:38px;}
#box16 .facebook{opacity:1;right:2%;
top:2%;}
#box16 .facebook img{width:38px;}
.boxinner .more{position:absolute;
left:0;
margin:0;padding:0;
top:90px;}
.boxinner{position:absolute;
width:100%;
text-align:left;
margin:0;padding:0;
padding-left:10%;
top:0;
letter-spacing:-2px;
left:0;}
.gallery{display:none;}
.footer{line-height:150%;width:100%;}
.footerinner{width:100%;float:left;}
.footericon{display:none;}
.footerinner h6{left:50%;top:85%;margin:0;padding:0;margin-left:-55px;}
.footertext{width:100%;float:left;margin:0;padding:0;margin-top:1.5%;}
.footertext .grid50{width:48%;margin:0;margin-left:1.5%;margin-top:1.5%;}
.footertext a{width:31.5%;margin:0;padding:0;float:left;height:40px;overflow:hidden;
padding-top:0px;
font-size:0.9em;
line-height:40px;background-color:#414141;
letter-spacing:-2px;
margin-left:1.5%;
text-align:center;
color:#fff;
}
.footertext a:hover{color:#06aef8;}
.footerinner p{width:95%;float:left;
margin:0;padding:0;
margin-top:3%;
margin-bottom:12%;
margin-left:2.5%;}
.footerinner p span{display:none;}
.topbtn{display:block;bottom:2%;right:2%;z-index:1;
position:fixed;width:50px;text-align:center;line-height:50px;
height:50px;background-color:#000;
padding:0;margin:0;
display:none;
color:orange;opacity:0.8;
font-weight:bold;
font-size:1.2em;}
/*main end 640*/


/*sub3 start 640*/
*{margin:0;padding:0;box-sizing:border-box;}
body{font-size:14px;}
a{font-size:1em;}
 .sub1_content{width:100%;overflow:hidden;background-color:#f5f6fa;float:left;margin:0;padding:0;}
  .sub1_contentinner{width:100%;text-align:center;float:left;margin:0;padding:0;}
  .sub1_top h2{margin-top:0px;font-size:1.2em;font-weight:500;
  letter-spacing:-1px;
  width:100%;border-bottom:1px solid #ddd;padding:2%;}
  .sub1visual{height:300px;display:block;overflow:hidden;display:none;}
  .sub1_top img{margin:0;padding:0;border:none;display:none;}
  .sub1_top p{border:none;
  float:left;
  background-color:transparent;
  font-size:0.9em;
  padding:4%;
  text-align:left;
  line-height:160%;
  width:100%;}
  .bigtext{width:100%;text-align:center;
  border-bottom:1px solid #ddd;
  padding:0px 0;}
   .bigtext h2{font-size:1.8em;font-weight:400;
  width:100%;
  height:67px;
  line-height:67px;
  background-color:#2472c7;
   text-align:center;
   color:#fff;}
.bigtext h2 img {width:30px;vertical-align:top;display:none;}
.sub1_bottom{width:100%;float:left;overflow:hidden;
border-top:2px solid #06aef8;
border-bottom:2px solid #06aef8;
margin:0;padding:0;}
.sub1_bottom>ul{float:left;width:100%;}
.sub1_bottom>ul>li{float:left;width:33.33%;}
.sub1_bottom>ul>li>a{display:block;height:40px;line-height:40px;
background-color:#FFF;
font-size:0.9em;
border:1px solid #ddd;
border-left:none;}
.sub1_bottom>ul>li>a.on1{background-color:#156a8f;
color:#fff;}
#leftnone{border-left:1px solid #ddd;}

.tab{float:left;overflow:hidden;
margin-top:0px;
width:100%;}
.tab>ul{float:left;}
.tab>ul>li{float:left;width:100%;}
.tab>ul>li>a{display:block;margin-top:5%;border-bottom:2px solid #ddd;height:180px;}
.tabimg img{border:1px solid #ddd;
display:none;
width:326px;}
.tabimg{width:33.33%;float:left;height:147px;overflow:hidden;display:none;}
.tabtext{width:100%;float:left;text-align:left;padding-left:4%;}
.tabtext h2{display:inline-block;
color:#156a8f;
font-size:1.2em;
letter-spacing:-2px;
padding:1%;}
.tabtext h3{margin-top:3%;font-size:1em;font-weight:500;}
.tabtext p{margin-top:5%;line-height:160%;font-size:0.9em;}
#tab2{display:none;}
#tab3{display:none;}
.tab .sub1_bdnone{border:none;}
.sub1_list_title{float:left;margin:3% 4%;color:#156a8f;font-size:1.2em;letter-spacing:-1px;}
.sub1_list{width:100%;float:left;text-align:left;}
.sub1_list>li{float:left;width:24.25%;margin-right:1%;margin-top:1%;}
.sub1_list .listbd{margin-right:0;}
.sub1_list>li>a{display:block;overflow:hidden;width:100%;border:2px solid #2471c8;}
.sub1_list>li>a>img{width:100%;vertical-align:bottom;}
.bdwidth{background-color:transparent;
width:100%;
height:40px;
letter-spacing:-1px;
border:none;
padding:2%;
border-top:2px solid #2471c8;
float:left;}
.bdwidth h3{line-height:110%;font-weight:500;margin-top:3%;display:block;font-size:0.95em;letter-spacing:-2px;text-align:center;}
.bdwidth p{margin-top:3%;font-size:0.9em;display:block;margin-left:3%;display:none;}
/*sub3 end 640*/


/*sub1start 640*/
 .sub2_content{width:100%;float:left;
  background-color:#f6f7fb;
  border-bottom:1px solid #ddd;
  text-align:center;}
  .sub2_mainimg{float:left;width:100%;text-align:center;position:relative;
  box-shadow:none;}
.sub2_mainimg img{width:100%;display:none;}
  .sub2_mainimgtext{position:relative;font-size:1.8em;color:#fff;top:25%;width:100%;text-align:center;padding-left:0%;
  padding:4%;
  background-color:#2472c7;
  font-weight:400;
  }
  .sub2_contentinner{width:100%;margin-left:0;float:left;padding:0;border-top:3px solid #06aef8;border-bottom:3px solid #06aef8;}
 .sub2_contentinner>h2{margin-top:0;font-size:1.1em;
 color:#1479a5;
 text-align:left;
 border-bottom:2px solid #1479a5;
 padding-top:4%;
 float:left;
 margin-left:4%;
 display:inline-block;
 padding-bottom:0;}
 .sub2_contentinner>p{margin-top:0;text-align:left;width:100%;
 padding-left:0;padding:4%;font-size:0.9em;letter-spacing:-1px;
 border-bottom:1px solid #ddd;
 line-height:160%;
 margin-left:0;float:left;}
 .sub2_icon{float:left;margin-top:5%;width:100%;margin-left:0;margin-bottom:5%;}
.sub2_icon>li{float:left;width:33.33%;}
.sub2_icon>li>a{display:block;line-height:140%;font-size:1em;
padding:12%;
color:#1479a5;
font-weight:600;}
.sub2_icon>li>a>span{font-size:0.9em;display:block;font-weight:500;
letter-spacing:-1px;}
.record{width:100%;background-color:#FFF;text-align:center;float:left;}
.record>h2{margin-top:3%;font-size:1.1em;color:#1479a5;float:left;margin-left:4%;border-bottom:2px solid #1479a5;}
.record>p{font-size:0.9em;letter-spacing:-1px;width:100%;float:left;text-align:left;padding:4%;}
.record ul{float:left;width:100%;margin-left:0;margin-top:0;}
.record ul>li{float:left;width:33.33%;}
.record ul>li>a{display:block;margin-bottom:2%;font-size:0.9em;
letter-spacing:-2px;padding:15%;line-height:120%;
border-right:none;}
.record .recordbdr{border-right:none;} 
/*sub1end 640*/



}