/* ν—¤λ” */
*{margin:0;padding:0;box-sizing:border-box;}
html{font-size:62.5%;}
body{font-family:'Noto Sans KR',sans-serif;font-size:1.4em;color:#333;}
li{list-style:none;}
a{text-decoration:none;color:#333;}
img{vertical-align: top;border:none;max-width:100%;}
a:hover{}
a:focus{}
.wrap{text-align: center;}
.header{padding:50px 0;background-color: #333;color:#fff;}
.header ul{width:600px;margin:0 auto;overflow: hidden;}
.header ul>li{float:left;width:33.33%;}
.header ul>li>a{display:block;color:#fff;}
/* ν‘Έν„° */
.footer{padding:50px 0;background-color: #333;color:#fff;}